{% extends 'base.html' %}

{% block content %}

    {% if login_invalid or account_deleted %}
    <div class="panel panel-danger">
        <div class="panel-heading">
            <strong>Woops!</strong>
        </div>
        <div class="panel-body">
            {% if login_invalid %}
            Invalid username or password combination, please try again.
            {% elif account_deleted %}
            This account is no longer active.
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if register_success %}
        <div class="panel panel-success">
            <div class="panel-header">
                Success!
            </div>
            <div class="panel-body">
                You're account has been created successfully.
            </div>
        </div>
    {% endif %}

    <form action="/accounts/login/" method="post" role="form">{% csrf_token  %}

    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" value="" id="username"/>
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" name="password" value="" id="password"/>
    </div>

        <input type="submit" value="Login" class="btn btn-default"/>

    </form>

{% endblock %}