a {
    text-decoration: none !important;
}

#search-bar {
    background-color: #32a2d6;
}

#search-bar-button {
    background-color: #32a2d6;
}

#search-bar-button span {
    color: #ffffff;
}

.navbar .form-control::-webkit-input-placeholder { color: #ffffff; }

.remodal, .remodal * {
    font-family: inherit;
}

.latest-messages {
    padding: 5px;
    overflow-y: auto;
}

#chat-title{
    margin-top: 0;
}

.message-user{
    background-color: #F8F8F8 ;
    padding: 5px;
}

.message-container {
    padding: 0 5px 0 5px;
    margin-top: 7px;
}
/* information tab */
.information-panel {
    margin: 5px;
}

.message-picture {
    width:50px;
    background-color: #F8F8F8 ;
    height: 46px;
}

.date{
    font-size: 12px;
    color: #999999;
}

#input-message{
    position: fixed;
    bottom: 1%;
    right: 8%;
    max-width: 61%;
}