#tickets-panel {
    overflow-y: auto;
}

#tickets-panel .list-group {
    margin-bottom: 0;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.xaxis path,
.xaxis line{
    fill: none;
}

#number-of-conversations {
    background-color: #c0c0c0;
}

#group-sort-new {
    margin-top: 10px;
}

#btn-sort {
    margin-right: 3px;
}

.btn-info-project {
    position: absolute;
    right: 10%;
    top: 6%;
}