a {
    text-decoration: none !important;
}

#search-bar {
    background-color: #32a2d6;
    color: #ffffff;
}

#search-bar-button {
    background-color: #32a2d6;
}

#search-bar-button span {
    color: #ffffff;
}

.navbar .form-control::-webkit-input-placeholder { color: #ffffff; }

.remodal, .remodal * {
    font-family: inherit;
}