<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}
    <title>Social Network for Project Task Management</title>
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'remodal/dist/jquery.remodal.css' %}" rel="stylesheet">
    <link href="{% static 'chat/css/chat.css' %}" rel="stylesheet">
    <link href="{% static 'core/css/snptm.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>

<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Projects <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="navbar-dropdown-list" id="navbar-dropdown-list">
                        <!-- Ajax content injected here -->
                    </ul>
                {% endif %}
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'user_profile' user.username %}" >{{ user }}</a></li>
                    <li><a href="{% url 'user_logout' %}">Logout</a> </li>
                {% else %}
                    <li><a href="{% url 'user_login' %}">Login</a></li>
                    <li><a href="{% url 'user_register' %}">Register</a></li>
                {% endif %}
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="col-md-12">
                    <div class="input-group">
                        <input id="search-box" type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                            <button id="search-bar-button" type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                         </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-md-12 -->
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container page-container">
    <div class="row page-row">
        {% block sidebar %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
</div>

</body>

<script type="text/javascript">
    CURRENT_USER = "{{ user }}";
    CURRENT_USER_ID = {{ user.id }};
</script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3-tip/0.6.3/d3-tip.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.0.3/firebase.js"></script>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'remodal/dist/jquery.remodal.js' %}"></script>
<script src="{% static 'chat/js/chat.js' %}"></script>
<script src="{% static 'core/js/project_visualise.js' %}"></script>
<script src="{% static 'chat/js/chat_visualise.js' %}"></script>
<script src="{% static 'app.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
<script src="{% static 'core/js/dashboard-sidebar.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
<link rel="stylesheet" href="//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css">

</html>