{% extends 'base.html' %}

{% block content %}
    <div class="row">

        <div class="col-xs-3 col-md-2 sidebar">

            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="sidebar-dropdown-button" data-toggle="dropdown" aria-expanded="true">
                    Projects
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="sidebar-dropdown-list">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" >Project A</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Project B</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Project C</a></li>
                </ul>
            </div>


            <ul class="nav nav-pills nav-stacked" id="tickets-list">
                <li role="presentation"><a href="#">Ticket 1</a></li>
                <li role="presentation"><a href="#">Ticket 2</a></li>
                <li role="presentation"><a href="#">Ticket 3</a></li>
                <li role="presentation"><a href="#">Ticket 4</a></li>
                <li role="presentation"><a href="#">Ticket 5</a></li>
                <li role="presentation"><a href="#">Ticket 6</a></li>
            </ul>

        </div>

        <div class="col-xs-9 col-md-10 main">
            <h1 class="page-header" id="dashboard-title">Dashboard</h1>

            <ul class="nav nav-tabs">
              <li role="presentation" class="active"><a role="tab" data-toggle="tab" href="#home">Home</a></li>
              <li role="presentation"><a role="tab" data-toggle="tab" href="#profile" >Profile</a></li>
              <li role="presentation"><a role="tab" data-toggle="tab" href="#messages">Messages</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">Home Content</div>
                <div role="tabpanel" class="tab-pane" id="profile">Profile Content</div>
                <div role="tabpanel" class="tab-pane" id="messages">Messages content</div>
            </div>

        </div>
    </div>

{% endblock %}
