{% extends 'base.html' %}
{% load core_extras %}

{% block content %}

    <script type="text/javascript">
        PROJECT_ID="{{ project.id }}";
        VISUALISING_PROJECTS = 'YES';
    </script>

    <div class="container">
        {#        <div class="row">#}
        {#            <div class="col-sm-12">#}
        {#                <h2 class="page-header" id="chat-title">{{ project.name }}</h2>#}
        {#            </div>#}
        {#            <div class="col-sm-6">#}
        {#                <div class="btn-group pull-right" role="group">#}
        {#                    <button type="button" class="btn btn-default">#}
        {#                        <i class="fa fa-times"></i> Delete project#}
        {#                    </button>#}
        {#                    <br/>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}

        {#        <div class="row">#}
        {#            <div class="col-md-6" id="d3-graph-one">#}
        {#                <p>Number of messages in each conversation, ordered by time created:</p>#}
        {#            </div>#}
        {#            <div class="col-md-6" id="d3-graph-two">#}
        {#                <p>Number of messages per user:</p>#}
        {#            </div>#}
        {#        </div>#}

        <div class="row">
            <div class="col-sm-3" align="left">
                <div id="graph-chartjs1"></div>
                <div id="graphs-panel-mount"></div>



                <a href="{{ next }}">
                    <button class="btn btn-default">Back</button>
                </a>
            </div>

            <div class="col-sm-3"></div>
            <div class="col-sm-3"></div>
            <div class="col-sm-3">

                </ul>
                <h4>Related Projects</h4>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-success"> <div class="caption">
                        <h3>Project A</h3>
                        <p> Started at the same time as this project</p>
                    </div>
                    </a>
                    <br>
                    <a href="#" class="list-group-item list-group-item-success"> <div class="caption">
                        <h3>Davids project</h3>
                        <p> David and Paul both work on this project</p>
                    </div>
                    </a>
                    <br>
                    <a href="#" class="list-group-item list-group-item-success"> <div class="caption">
                        <h3>And another one</h3>
                        <p> The topic "nodejs" is discussed in this project</p>
                    </div>
                    </a>


                </div>
                <ul class="list-group">
                    <li class="list-group-item"><strong>Project Manager: </strong>{{ project.manager }}</li>
                    <li class="list-group-item"><strong>Project Description: </strong>{{ project.desc }}</li>
                </ul>
                <div class="jumbotron">
                    <h3>Invite new users</h3>
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">User List</a></p>
                    Suggestions
                    <a href='#' class="list-group-item">David Scott</a>
                    You have 3 projects in common
                    <br>
                    <br>
                    <a href='#' class="list-group-item">Callum Mann </a>
                    You both discuss 'react'
                    <br>
                    <br>
                    <a href='#' class="list-group-item">Paul Campbell</a>
                    You both contribute to 'Tom's Project'

                </div>







            </div>

        </div>

    </div>


{% endblock %}

