{% extends 'base.html' %}
{% load core_extras %}

{% block content %}

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12">

            <h1>Create a new account:</h1>

            {% if form.non_field_errors  %}
                <div class="alert alert-warning">
                    {{ form.non_field_errors }}
                </div><!-- does this if-block do anything? -->
            {% endif %}
            <form action="/accounts/register/" method="post" role="form">{% csrf_token %}
                <div class="form-group">

                    <label for="id_username">Username:</label>
                    {{ form.username | add_attrs:"class:form-control,placeholder:Enter a username." }}

                </div>
                {% if form.username.errors %}
                    <div class="alert alert-danger">
                        {{ form.username.errors }}
                    </div>
                {% endif %}



                <div class="form-group">
                    <label for="id_password1">Password:</label>
                    {{ form.password1 | add_attrs:"class:form-control,placeholder:Enter a secure password." }}
                </div>

                {% if form.password1.errors %}
                    <div class="alert alert-danger">
                        {{ form.password1.errors }}
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="id_password2">Confirm Password:</label>
                    {{ form.password2 | add_attrs:"class:form-control,placeholder:Retype your password." }}
                </div>

                {% if form.password2.errors %}
                    <div class="alert alert-danger">
                        {{ form.password2.errors }}
                    </div>
                {% endif %}

                <input class="btn btn-default" type="submit" value="Register"/>
            </form>
            <br/>
            <p>Already have an account? Login <a href="{% url 'user_login' %}">here</a>.</p>
        </div>
    </div>

{% endblock %}