{% extends 'base.html' %}

{% block sidebar %}


    <div class="col-xs-3 col-md-2 sidebar">

        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="sidebar-dropdown-button" data-toggle="dropdown" aria-expanded="true">
                No projects
                <span class="caret"></span>
            </button>
            <a href="{% url 'new_project' %}">
                <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="right" title="Click to create a new project">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </a>

            <ul class="dropdown-menu" role="menu" aria-labelledby="sidebar-dropdown-list" id="sidebar-dropdown-list">
                <!-- Ajax content injected here -->
            </ul>
        </div>

        <ul class="nav nav-pills nav-stacked" id="tickets-list">
            <!-- Ajax -->
        </ul>

    </div>

{% endblock %}

{% block content %}
{% endblock %}