{% extends 'base.html' %}

{% block sidebar %}


    <div class="col-xs-3 sidebar">

        <div class="row">

            <div class="col-sm-12">
               <h3 id="project-title"><a href=""></a></h3>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-12">

                <div class="panel-group" id="tickets-panel" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading-open">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#tickets-panel" href="#collapse-open" aria-expanded="false" aria-controls="collapse-open">
                                    Conversations
                                </a>

                                <a href="/projects/id/newchat/">
                                    <button type="button" class="btn btn-default btn-xs pull-right" data-toggle="tooltip" data-placement="right" title="New Conversation" id="new-project-button">
                                        <span class="glyphicon glyphicon-plus"></span> New
                                    </button>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-open" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-open">
                            <div class="list-group" id="open-tickets-list">
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading-closed">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#tickets-panel" href="#collapse-closed" aria-expanded="false" aria-controls="collapse-closed">
                                    Closed conversations
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-closed" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-closed">
                            <div class="list-group" id="closed-tickets-list">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block content %}
{% endblock %}