{% extends 'base.html' %}

{% block sidebar %}


    <div class="col-xs-3 sidebar">

        <div class="row">

            <div class="col-sm-12">
                <h3 id="project-title"><a href=""></a></h3>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-12">

                <div class="panel-group" id="tickets-panel" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading-open">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#tickets-panel" href="#collapse-open" aria-expanded="false" aria-controls="collapse-open">
                                    Conversations    <span class="badge" id="number-of-conversations" style="background-color: #c0c0c0"></span>
                                </a>

                                <div class="btn-group" style="margin-top: 10px;">
                                    <div class="dropdown pull-left">

                                        <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" style="margin-right: 5px;">
                                            <span class="fa fa-sort"> Sorting</span>
                                            <span class="caret"></span>
                                        </button>

                                        <ul class="dropdown-menu pull-left" role="menu" id="dropdown-sorting-options">
                                            <li id="open_date-asc" class="active"><a role="menuitem" href="#">Oldest open date</a></li>
                                            <li id="open_date-desc"><a role="menuitem" href="#">Newest open date</a></li>
                                            <li class="divider"></li>
                                            <li id="due_date-asc"><a role="menuitem" href="#">Soonest due date</a></li>
                                            <li id="due_date-desc"><a role="menuitem" href="#">Farthest due date</a></li>
                                            <li class="divider"></li>
                                            <li id="priority-desc"><a role="menuitem" href="#">Highest priority</a></li>
                                            <li id="priority-asc"><a role="menuitem" href="#">Lowest priority</a></li>
                                        </ul>

                                    </div>
                                    <a href="/projects/id/newchat/">
                                        <button type="button" class="btn btn-default btn-xs pull-left" data-toggle="tooltip" data-placement="right" title="New Conversation" id="new-project-button">
                                            <span class="glyphicon glyphicon-plus"></span> New
                                        </button>
                                    </a>
                                </div>
                            </h4>
                        </div>
                        <div id="collapse-open" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-open">
                            <div class="list-group" id="open-tickets-list">
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading-closed">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#tickets-panel" href="#collapse-closed" aria-expanded="false" aria-controls="collapse-closed">
                                    Closed conversations    <span class="badge" id="number-of-closed-conversations" style="background-color: #c0c0c0"></span>
                                </a>
                            </h4>
                        </div>
                        <div id="collapse-closed" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-closed">
                            <div class="list-group" id="closed-tickets-list">
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block content %}
{% endblock %}