{% extends 'base.html' %}



{% block content %}

    <div class="row">

        <div class="col-sm-12">

            <div class="row">

                <div class="col-sm-12">

                    <h1><strong> <u> {{ userProfile.user }} </u> </strong></h1>

                </div>

            </div>

            <div class="dropdown">


                <ul>

                    {% for perm in permissions %}
                        <li>{{perm}}</li>
                    {% endfor %}

                </ul>

            </div>


        <div class="row">
            <div class="col-sm-12">
                <br><br>


            </div>
        </div>
    </div>

{% endblock %}