{% extends 'base.html' %}



{% block content %}

    <div class="row">

        <div class="col-sm-12">

            <div class="row">

                <div class="col-sm-12">

                    <h1><strong> <u> {{ userProfile.user }} </u> </strong></h1>

                </div>

            </div>

            <div class="dropdown">

                <form method="post" action="{% url "user_permission_change" user %}">
                    {% csrf_token %}
                    <input type="radio" name="choice" value="developer" id="developerGroup"><label>Developer</label><br>
                    <input type="radio" name="choice" value="qa manager" id="qa manager"><label>QA Manager</label><br>
                    <input type="radio" name="choice" value="project manager" id="project manager"><label>Project Manager</label><br>
                    <input type="submit" value="Submit">
                </form>

            </div>


        <div class="row">
            <div class="col-sm-12">
                <br><br>


            </div>
        </div>
    </div>

{% endblock %}